<div class="main">

<nav>
<div class="menu">
    <ul>
    <li>{{#link-to "index"}}Főoldal{{/link-to}}</li>
    <li>{{#link-to "uj-e"}}Új előadó{{/link-to}}</li>
    <li>{{#link-to "uj-z"}}Új zeneszám{{/link-to}}</li>
    </ul>
</div>
</nav>

{{outlet}}

<div class="lablec">
    <p>Bacsa Roland - Alkalmazások fejlesztése beadandó - Ember JS</p>
</div>

</div>