<div class="tartalomcim">Hiba</div>

<div class="tartalom">
    <h1>Tucsok = 404!</h1>
    <p class="center">Ez nem az én műfajom. Ezt most műsoron kívül mondom, hogy most felállok oszt elmegyek oké?
    Nincs csokifasz oké? Ez nem az én műfajom.
    Úgyhogy, ha valaki ott fent normális ember ül, már rég meg kellett volna állítani ezt az egész szart, 
    és ilyen csokifasszal én nem játszom oké? Mert el lehet bohóckodni egy határig, de ezen a határon nekem ez túl van.
    A tököm tele van a gusztustalanságokkal világos?</p>
    <p class="center"><img src="assets/pic/404.png"></p>
</div>